<p>
    <strong>Author:</strong> <%= author.first %> <%= author.last %> (<%= author.birth %>&ndash;<%= author.death %>)<br/>
    <strong>Display as:</strong> <%= display %><br/>
    <strong>Role:</strong> <%= role %>
</p>

<a href="#" class="btn btn-sm btn-block btn-info" data-toggle="modal" data-target="<%= editModalTarget %>">Edit</a>
